@import (inline) 'node_modules/reveal.js/css/reveal.css';
@import (inline) 'node_modules/reveal.js/css/theme/night.css';
@import (inline) 'node_modules/highlight.js/styles/monokai-sublime.css';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,300,300italic);


* {
  font-family: 'Roboto', sans-serif !important;
}

.strike {
  text-decoration: line-through;
}

.smallish {
  font-size: 25px !important;
}
